

.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_4 {
	height: 40px;
}









#stacks_in_5{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_7 {
	height: 40px;
}










#stacks_out_8 {
	width: 71%;
}


.spacerStack {
	height: 20px;
}

#spacerStackstacks_in_10 {
	height: 20px;
}










#stacks_in_11 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  2px;
	margin:  5px;
}


.spacerStack {
	height: 20px;
}

#spacerStackstacks_in_13 {
	height: 20px;
}









#stacks_in_14{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_16 {
	height: 40px;
}









#stacks_in_17>.s3_row {
	margin: 0 -10px;
}

#stacks_in_17>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_17>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_17>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_17>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_17>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}







.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_308 {
	height: 40px;
}










#stacks_in_22 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  2px;
	margin:  5px;
	padding:  5px;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_24 {
	height: 40px;
}









#stacks_in_25{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_27 {
	height: 40px;
}










#stacks_out_28 {
	width: 92%;
}

#stacks_in_30 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  2px;
	margin:  5px;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_32 {
	height: 40px;
}









#stacks_in_33{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_35 {
	height: 40px;
}









#stacks_in_36>.s3_row {
	margin: 0 -10px;
}

#stacks_in_36>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_36>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_36>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_36>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_36>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}







.spacerStack {
	height: 80px;
}

#spacerStackstacks_in_307 {
	height: 80px;
}










#stacks_in_41 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  2px;
	margin:  5px;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_43 {
	height: 40px;
}









#stacks_in_44{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_46 {
	height: 40px;
}









#stacks_in_47>.s3_row {
	margin: 0 -10px;
}

#stacks_in_47>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_47>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_47>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_47>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_47>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}







.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_309 {
	height: 40px;
}










#stacks_in_52 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  2px;
	margin:  5px;
	padding:  4px;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_54 {
	height: 40px;
}









#stacks_in_55{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_57 {
	height: 40px;
}










#stacks_out_58 {
	width: 60%;
}

#stacks_in_60 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  2px;
	margin:  5px;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_62 {
	height: 40px;
}









#stacks_in_63{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_65 {
	height: 40px;
}









#stacks_in_66>.s3_row {
	margin: 0 -10px;
}

#stacks_in_66>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_66>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_66>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_66>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_66>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}







.spacerStack {
	height: 60px;
}

#spacerStackstacks_in_310 {
	height: 60px;
}










#stacks_in_71 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  2px;
	margin:  5px;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_73 {
	height: 40px;
}









#stacks_in_74{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_76 {
	height: 40px;
}










#stacks_out_77 {
	width: 90%;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_79 {
	height: 40px;
}









#stacks_in_80{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_82 {
	height: 40px;
}









#stacks_in_83>.s3_row {
	margin: 0 -10px;
}

#stacks_in_83>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_83>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_83>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_83>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_83>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_86 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  2px;
	margin:  5px;
	padding:  4px;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_90 {
	height: 40px;
}









#stacks_in_91{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_93 {
	height: 40px;
}










#stacks_out_94 {
	width: 96%;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_96 {
	height: 40px;
}









#stacks_in_97{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_99 {
	height: 40px;
}










#stacks_out_100 {
	width: 72%;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_104 {
	height: 40px;
}









#stacks_in_105{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_107 {
	height: 40px;
}










#stacks_out_108 {
	width: 69%;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_110 {
	height: 40px;
}









#stacks_in_111{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_113 {
	height: 40px;
}










#stacks_out_114 {
	width: 85%;
}

#stacks_in_116 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  2px;
	margin:  5px;
}


.spacerStack {
	height: 30px;
}

#spacerStackstacks_in_118 {
	height: 30px;
}









#stacks_in_119{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_121 {
	height: 40px;
}










#stacks_out_122 {
	width: 84%;
}

#stacks_in_124 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  2px;
	margin:  5px;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_126 {
	height: 40px;
}









#stacks_in_127{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_129 {
	height: 40px;
}









#stacks_in_130>.s3_row {
	margin: 0 -10px;
}

#stacks_in_130>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_130>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_130>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_130>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_130>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}







.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_311 {
	height: 40px;
}










#stacks_in_135 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  2px;
	margin:  5px;
}


.spacerStack {
	height: 45px;
}

#spacerStackstacks_in_137 {
	height: 45px;
}









#stacks_in_138{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_140 {
	height: 40px;
}











.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_143 {
	height: 40px;
}









#stacks_in_144{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_146 {
	height: 40px;
}











.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_149 {
	height: 40px;
}









#stacks_in_150{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_152 {
	height: 40px;
}









#stacks_in_153>.s3_row {
	margin: 0 -10px;
}

#stacks_in_153>.s3_row>.s3_column_left {
	width: 40.00%;
}

#stacks_in_153>.s3_row>.s3_column_right {
	width: 60.000000%;
}




#stacks_in_153>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_153>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_153>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}





#stacks_in_160{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_162 {
	height: 40px;
}










#stacks_in_163 {
	background-color: rgba(230, 230, 230, 1.00);
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  2px;
	margin:  5px;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_165 {
	height: 40px;
}









#stacks_in_166{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_168 {
	height: 40px;
}










#stacks_out_169 {
	width: 90%;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_171 {
	height: 40px;
}









#stacks_in_172{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_174 {
	height: 40px;
}










#stacks_out_175 {
	width: 77%;
}

#stacks_in_177 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  2px;
	margin:  5px;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_179 {
	height: 40px;
}









#stacks_in_180{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_182 {
	height: 40px;
}










#stacks_out_183 {
	width: 80%;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_185 {
	height: 40px;
}









#stacks_in_186{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_188 {
	height: 40px;
}









#stacks_in_189>.s3_row {
	margin: 0 -10px;
}

#stacks_in_189>.s3_row>.s3_column_left {
	width: 55.00%;
}

#stacks_in_189>.s3_row>.s3_column_right {
	width: 45.000000%;
}




#stacks_in_189>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_189>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_189>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_196 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  2px;
	margin:  5px;
}


.spacerStack {
	height: 25px;
}

#spacerStackstacks_in_198 {
	height: 25px;
}









#stacks_in_199{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_201 {
	height: 40px;
}










#stacks_out_202 {
	width: 62%;
}

#stacks_in_204 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  2px;
	margin:  5px;
}


.spacerStack {
	height: 25px;
}

#spacerStackstacks_in_206 {
	height: 25px;
}









#stacks_in_207{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_209 {
	height: 40px;
}









#stacks_in_210>.s3_row {
	margin: 0 -10px;
}

#stacks_in_210>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_210>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_210>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_210>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_210>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}







.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_313 {
	height: 40px;
}










#stacks_in_215 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  2px;
	margin:  5px;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_217 {
	height: 40px;
}









#stacks_in_218{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_220 {
	height: 40px;
}









#stacks_in_221>.s3_row {
	margin: 0 -10px;
}

#stacks_in_221>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_221>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_221>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_221>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_221>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}







.spacerStack {
	height: 80px;
}

#spacerStackstacks_in_314 {
	height: 80px;
}










#stacks_in_226 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  2px;
	margin:  5px;
	padding:  4px;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_228 {
	height: 40px;
}









#stacks_in_229{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_231 {
	height: 40px;
}









#stacks_in_232>.s3_row {
	margin: 0 -10px;
}

#stacks_in_232>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_232>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_232>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_232>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_232>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}







.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_315 {
	height: 40px;
}










#stacks_in_235 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  2px;
	margin:  5px;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_239 {
	height: 40px;
}









#stacks_in_240{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_242 {
	height: 40px;
}









#stacks_in_243>.s3_row {
	margin: 0 -10px;
}

#stacks_in_243>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_243>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_243>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_243>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_243>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}







.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_316 {
	height: 40px;
}










#stacks_in_246 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  2px;
	margin:  5px;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_250 {
	height: 40px;
}









#stacks_in_251{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_253 {
	height: 40px;
}










#stacks_out_254 {
	width: 81%;
}

#stacks_in_256 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  2px;
	margin:  5px;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_258 {
	height: 40px;
}









#stacks_in_259{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_261 {
	height: 40px;
}










#stacks_in_264 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  2px;
	margin:  5px;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_266 {
	height: 40px;
}









#stacks_in_267{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_269 {
	height: 40px;
}










#stacks_out_270 {
	width: 75%;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_272 {
	height: 40px;
}









#stacks_in_273{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_275 {
	height: 40px;
}










#stacks_out_276 {
	width: 67%;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_278 {
	height: 40px;
}









#stacks_in_279{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_281 {
	height: 40px;
}










#stacks_out_282 {
	width: 42%;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_284 {
	height: 40px;
}









#stacks_in_285{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_287 {
	height: 40px;
}










#stacks_out_288 {
	width: 74%;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_290 {
	height: 40px;
}









#stacks_in_291{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_293 {
	height: 40px;
}










#stacks_out_294 {
	width: 72%;
}

#stacks_in_296 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  2px;
	margin:  5px;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_298 {
	height: 40px;
}









#stacks_in_299{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_301 {
	height: 40px;
}










#stacks_out_302 {
	width: 72%;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_304 {
	height: 40px;
}









#stacks_in_305{text-align:justify}
