

.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_4 {
	height: 40px;
}









#stacks_in_26{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_7 {
	height: 40px;
}









#stacks_in_8>.s3_row {
	margin: 0 -10px;
}

#stacks_in_8>.s3_row>.s3_column_left {
	width: 57.00%;
}

#stacks_in_8>.s3_row>.s3_column_right {
	width: 43.000000%;
}




#stacks_in_8>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_8>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_8>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}







.spacerStack {
	height: 30px;
}

#spacerStackstacks_in_17 {
	height: 30px;
}











.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_18 {
	height: 40px;
}









#stacks_in_28{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_23 {
	height: 40px;
}










#stacks_out_24 {
	width: 90%;
}
