

.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_90 {
	height: 40px;
}









#stacks_in_91{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_10 {
	height: 40px;
}











.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_11 {
	height: 40px;
}









#stacks_in_93{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_14 {
	height: 40px;
}









#stacks_in_81>.s3_row {
	margin: 0 -10px;
}

#stacks_in_81>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_81>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_81>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_81>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_81>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}







.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_18 {
	height: 40px;
}









#stacks_in_95{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_21 {
	height: 40px;
}











.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_25 {
	height: 40px;
}









#stacks_in_97{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_28 {
	height: 40px;
}










#stacks_out_29 {
	margin-left:0;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_32 {
	height: 40px;
}









#stacks_in_99{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_35 {
	height: 40px;
}










#stacks_in_38 {
	background-color: rgba(230, 230, 230, 1.00);
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  1px;
	margin:  20px;
	padding:  20px;
}

#stacks_out_36 {
	width: 82%;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_40 {
	height: 40px;
}









#stacks_in_101{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_43 {
	height: 40px;
}











.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_47 {
	height: 40px;
}









#stacks_in_103{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_50 {
	height: 40px;
}










#stacks_out_51 {
	width: 71%;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_53 {
	height: 40px;
}









#stacks_in_105{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_56 {
	height: 40px;
}










#stacks_out_57 {
	width: 65%;
}


.spacerStack {
	height: 25px;
}

#spacerStackstacks_in_80 {
	height: 25px;
}









#stacks_in_107{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_61 {
	height: 40px;
}









#stacks_in_109{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_64 {
	height: 40px;
}











.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_72 {
	height: 40px;
}









#stacks_in_111{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_73 {
	height: 40px;
}











.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_77 {
	height: 40px;
}









#stacks_in_113{text-align:justify}
