

.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_4 {
	height: 40px;
}











.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_7 {
	height: 40px;
}









#stacks_in_37>.s3_row {
	margin: 0 -10px;
}

#stacks_in_37>.s3_row>.s3_column_left {
	width: 65.00%;
}

#stacks_in_37>.s3_row>.s3_column_right {
	width: 35.000000%;
}




#stacks_in_37>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_37>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_37>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_out_37 {
	width: 94%;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_14 {
	height: 40px;
}










#stacks_out_15 {
	width: 58%;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_19 {
	height: 40px;
}










#stacks_out_20 {
	width: 95%;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_34 {
	height: 40px;
}










#stacks_out_32 {
	width: 67%;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_46 {
	height: 40px;
}










#stacks_out_47 {
	width: 86%;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_51 {
	height: 40px;
}









