

.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_4 {
	height: 40px;
}









#stacks_in_13{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_12 {
	height: 40px;
}










#stacks_out_7 {
	width: 74%;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_9 {
	height: 40px;
}










#stacks_out_10 {
	width: 73%;
}
