

.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_4 {
	height: 40px;
}









#stacks_in_37{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_7 {
	height: 40px;
}










#stacks_out_8 {
	width: 72%;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_12 {
	height: 40px;
}









#stacks_in_39{text-align:justify}


.spacerStack {
	height: 20px;
}

#spacerStackstacks_in_45 {
	height: 20px;
}










#stacks_out_17 {
	width: 75%;
}
#stacks_in_41{text-align:justify}

#stacks_out_15 {
	width: 77%;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_25 {
	height: 40px;
}









#stacks_in_43{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_36 {
	height: 40px;
}










#stacks_out_28 {
	width: 72%;
}
