

.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_14 {
	height: 40px;
}









#stacks_in_16{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_15 {
	height: 40px;
}










#stacks_out_7 {
	width: 90%;
}

#stacks_out_11 {
	width: 90%;
}
