

.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_4 {
	height: 40px;
}











.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_10 {
	height: 40px;
}










#stacks_out_11 {
	width: 70%;
}
