

.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_78 {
	height: 40px;
}











.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_79 {
	height: 40px;
}











.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_76 {
	height: 40px;
}











.spacerStack {
	height: 80px;
}

#spacerStackstacks_in_77 {
	height: 80px;
}









#stacks_in_28>.s3_row {
	margin: 0 -10px;
}

#stacks_in_28>.s3_row>.s3_column_left {
	width: 53.00%;
}

#stacks_in_28>.s3_row>.s3_column_right {
	width: 47.000000%;
}




#stacks_in_28>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_28>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_28>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_out_28 {
	width: 95%;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_80 {
	height: 40px;
}









