

.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_4 {
	height: 40px;
}











.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_7 {
	height: 40px;
}











.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_13 {
	height: 40px;
}










#stacks_out_18 {
	width: 59%;
}

#stacks_in_22 {
	background-color: rgba(220, 222, 222, 1.00);
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  2px;
	padding:  5px;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_26 {
	height: 40px;
}











.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_32 {
	height: 40px;
}











.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_38 {
	height: 40px;
}











.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_44 {
	height: 40px;
}











.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_50 {
	height: 40px;
}









