
#stacks_in_4 {
	background-color: rgba(204, 255, 102, 1.00);
}

#stacks_in_5 {
	font-weight: bolder;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_10 {
	height: 40px;
}











.spacerStack {
	height: 50px;
}

#spacerStackstacks_in_9 {
	height: 50px;
}











.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_14 {
	height: 40px;
}










#stacks_out_6 {
	margin-left:0;
}
